services:
  # 1. Automated Nginx (Replaces Nginx Proxy Manager)
  # It reads the config file we generate in the User Data script
  nginx:
    image: nginx:alpine
    restart: always
    ports: ['80:80']
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - static_vol:/app/staticfiles
    networks: [app_net]
    depends_on:
      - backend
      - frontend

  # 2. Backend (Optimized for 4 vCPUs)
  backend:
    image: ghcr.io/salimmwatsefu/yadi-backend:latest
    # Command optimized for high traffic (9 workers)
    command: sh -c "python manage.py migrate && gunicorn core.wsgi:application --bind 0.0.0.0:8000 --workers 9 --threads 2"
    # Secrets are injected by the server environment (via Doppler)
    env_file: .env
    volumes: ['static_vol:/app/staticfiles']
    expose: [8000]
    restart: always
    networks: [app_net]

  # 3. Frontend
  frontend:
    image: ghcr.io/salimmwatsefu/yadi-frontend:latest
    expose: [80]
    volumes: ['static_vol:/app/staticfiles']
    networks: [app_net]

volumes:
  static_vol:

networks:
  app_net:
    driver: bridge